{% extends 'tasks/main.html' %} {% block content %}

<div class="header-bar">
    <div>
        <h1>Hello {{request.user|title}}</h1>
        <h3> Incomplete tasks: {{count}}</h3>
    </div>

    {% if request.user.is_authenticated %}
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <input class="button" type="submit" value="Logout">
    </form>
    {% endif %}
</div>


<div id="search-add-wrapper">
    <form method="GET" style="display: flex;">
        <input type='text' name='search-area' placeholder="Search your task" value="{{search_input}}">
        <select class="dropdown" name="priority">
          <option selected disabled=true>Select Priority</option>
          <option value="Low">Low</option>
          <option>Medium</option>
          <option>High</option>
        </select>

        <select class="dropdown" name="cmp">
          <option selected disabled=true>Select Completeness</option>
          <option value="True">Completed</option>
          <option value="False">Not Completed</option>
        </select>
      </div>

<div id="search-add-wrapper">
        <h5 for="due-date">Due Date:</h5>
        <input style="border:2px solid black;" type="date" name="due-date">
        <h5 for="cr-date">Creation Date:</h5>
        <input style="border:2px solid black;" type="date" name="cr-date">
      </div>

<div id="search-add-wrapper">
        <input class="button" type="submit" value='Search'>
    </form>
    <a class="addbutton" href="{% url 'task-create' %}">+</a>
</div>



<div id="tasklist" class="task-items-wrapper">
    {% for task in tasks %}
    <div class="task-wrapper" data-position="{{task.pk}}">
        <div class="task-title">
            {% if task.complete %}
            <div class="task-complete-icon"></div>
            <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i> {% else %}
            <div class="task-incomplete-icon"></div>
            <a href="{% url 'task-update' task.id %}">{{task}} <i>(Priority: {{task.priority}})</i></a> {% endif %}
        </div>
        <div class="task-controls">
            <a class="delete-link" href="{% url 'task-delete' task.id %}">Delete</a>
        </div>
    </div>

    {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        <h3>No Tasks</h3>
    </div>
    {% endfor %}
</div>

{% endblock content %}